<div class="container body-content">
  <header>
    <h1>{{ conteudo.titulo }}</h1>
  </header>
<hr>
  <form [formGroup]="formulario">
    <div class="row">
      <app-input-texto class="col-md-6 ab-3"
        [formPai]='formulario'
        [campo]="{
          labelForCampo: 'nomeUsuario',
          tituloCampo: 'Nome',
          formControlNameCampo: 'Nome',
          idCampo: 'nomeUsuario'
        }"
        [validaCampo]="validaCampo('Nome')">
        </app-input-texto>

        <app-input-texto class="col-md-6 ab-3"
        [formPai]='formulario'
        [campo]="{
          labelForCampo: 'sobrenomeUsuario',
          tituloCampo: 'Sobrenome',
          formControlNameCampo: 'Sobrenome',
          idCampo: 'sobrenomeUsuario'
        }"
        [validaCampo]="validaCampo('Sobrenome')">
        </app-input-texto>
    </div>
    <div class="row">

      <app-input-texto class="col-md-6 ab-3"
        [formPai]='formulario'
        [campo]="{
          labelForCampo: 'nomeSocialUsuario',
          tituloCampo: 'Nome Social',
          formControlNameCampo: 'NomeSocial',
          idCampo: 'nomeSocialUsuario'
        }"
        [validaCampo]="false">
        </app-input-texto>

        <app-input-data class="col-md-6 ab-3"
        [formPai]='formulario'
        [campo]="{
          labelForCampo: 'dataNascimentoUsuario',
          tituloCampo: 'Data de Nascimento',
          formControlNameCampo: 'DataNascimento',
          idCampo: 'dataNascimentoUsuario'
        }"
        [validaCampo]="validaCampo('DataNascimento')">
        </app-input-data>

        <app-input-cpf class="col-md-6 ab-3"
        [formPai]='formulario'
        [campo]="{
          labelForCampo: 'cpfUsuario',
          tituloCampo: 'CPF',
          formControlNameCampo: 'Cpf',
          idCampo: 'cpfUsuario'
        }"
        [validaCampo]="validaCampo('Cpf')"
        [validaEdicao]="ehEdicao()">
        </app-input-cpf>
    </div>

    <div>
        <app-input-senha
        [formPai]='formulario'
        [campo]="{
          labelForCampo: 'senhaUsuario',
          tituloCampo: 'Senha',
          formControlNameCampo: 'Senha',
          idCampo: 'senhaUsuario'
        }"
        [validaCampo]="validaCampo('Senha')">
        </app-input-senha>
    </div>

    <section class="m-3">
        <button type="submit"
        class="btn btn-primary"
        [disabled]="!formulario.valid"
        (click)="confirmar()">{{conteudo.textoBotaoConfirmar}}</button>
        <a class="btn btn-default" [routerLink]="['/index']">Voltar</a>
    </section>
  </form>
</div>

