<nav aria-label="Paginacao">
  <ul class="pagination">
    <li class="page-item" >
      <a class="page-link" href="#" aria-label="Previous"
      [ngClass]="{'disabled': paginaAtual === 1}"
      (click)="alterarPagina(paginaAtual - 1)">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item" *ngFor="let pagina of arrayPaginas; let i = index"
    [ngClass]="{'active': (i + 1) === paginaAtual}"><a class="page-link" href="#">{{ i + 1 }}</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next"
      [ngClass]="{'disabled': paginaAtual === totalPaginas}"
      (click)="alterarPagina(paginaAtual + 1)">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
