    <div *ngIf="usuariosList.length > 0; else semUsuarios">
        <table class="table table-striped table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Nome Social</th>
                    <th scope="col">Data de Nascimento</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Opções</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let u of usuariosList">
                        <td>{{u.Nome}}</td>
                        <td>{{u.Sobrenome}}</td>
                        <td>{{u.NomeSocial}}</td>
                        <td class="text-center">{{u.DataNascimento | date:'dd/MM/yyyy'}}</td>
                        <td class="cpf text-center">{{u.Cpf}}</td>
                         <td class="col-2 text-center">

                          <button type="button" class="btn btn-default" (click)="abreModalStatus(u)" [title]="buscaTituloBotaoStatus(u.Ativo)" [attr.aria-label]="buscaTituloBotaoStatus(u.Ativo)">


                            <i [ngClass]="u.Ativo ? 'bi-check-circle-fill text-success' : 'bi-x-circle-fill text-secondary'"></i>
                          </button>
                          <button type="button" class="btn btn-default" [routerLink]="['/editar', u.Id]" title="Editar Usuário">
                            <i class="bi bi-pencil"></i>
                          </button>
                          <button type="button" class="btn btn-default" (click)="abreModalExcluir(u)" title="Excluir Usuário">
                            <i class="bi bi-trash"></i>
                          </button>
                        <!--    <a href="@Url.Action("AtualizarStatus", "UsuarioCrud", new { id = user.Id })" title="@(user.Ativo ? "Inativar Usuário" : "Ativar Usuário")" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#confirmaStatus@(user.Id)">
                                <i class="@(user.Ativo ? "bi bi-check-circle-fill text-success" : "bi bi-x-circle-fill text-secondary")"></i>
                            </a>
                            <a href="@Url.Action("Editar", "UsuarioCrud", new { id = user.Id })" class="btn btn-default">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a href="@Url.Action("Deletar", "UsuarioCrud", new { id = user.Id })" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#confirmaDeletar@(user.Id)">
                                <i class="bi bi-trash"></i>
                            </a>-->
                        </td>
                    </tr>

            </tbody>
        </table>
    </div>
  <ng-template #semUsuarios>
    <div>
        <p>Não há usuários cadastrados.</p>
    </div>
  </ng-template>
  <a class="btn btn-primary" [routerLink]="['/cadastrar']">Cadastrar</a>

  <app-modal-confirmacao-usuario
    #modalStatus
    [titulo]="'Alteração de Status'"
    [corpo]="'Deseja alterar o status do usuário ' + usuarioModal.Nome + ' ' + usuarioModal.Sobrenome + ' para ' + (usuarioModal.Ativo ? 'Inativo' : 'Ativo') + '?'"
    [textoBotaoConfirmar]="'Alterar'"
    (confirmar)="atualizarStatusUsuario()">
  ></app-modal-confirmacao-usuario>
    <app-modal-confirmacao-usuario
    #modalExcluir
    [titulo]="'Confirmação de Exclusão'"
    [corpo]="'Deseja excluir o usuário ' + usuarioModal.Nome + ' ' + usuarioModal.Sobrenome + '? Esta ação é irreversível.'"
    [textoBotaoConfirmar]="'Excluir'"
    (confirmar)="excluirUsuario()">
  ></app-modal-confirmacao-usuario>

