<div class="modal fade" #modalConfirmacao data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" [attr.aria-labelledby]="'modalTitulo' + conteudo.titulo" [attr.aria-describedby]="'modalCorpo' + conteudo.titulo" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5"  [id]="'modalTitulo' + conteudo.titulo">{{conteudo.titulo}}</h1>
                <button type="button" class="btn-close" (click)="fechar()" aria-label="Close"></button>
            </div>
            <div class="modal-body" [id]="'modalCorpo' + conteudo.titulo">
                {{conteudo.corpo}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="executar()">{{conteudo.textoBotaoConfirmar}}</button>
              <button type="button" class="btn btn-secondary" (click)="fechar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>
