<div [formGroup]="formPai" class="row">
  <div class="col-md-6 ab-3">
    <label [for]="campo.labelForCampoSenha" class="form-label">{{campo.tituloCampoSenha}}</label>
    <input type="password" class="form-control" [id]="campo.idCampoSenha" [formControlName]="campo.formControlNameCampoSenha">
    <span *ngIf=" validaCampo " class="text-danger"
    >{{campo.tituloCampoSenha}} é obrigatória.
    </span>

    <span class="form-text">
      <p class="text-muted" >A senha deve conter:</p>
        <ul>
          <li [ngClass]="
          {'bi bi-x text-danger' : campoSenhaErros('tamanhoInvalido') === true,
          'bi bi-check text-success' : campoSenhaErros('tamanhoInvalido')=== false,
          'text-muted': campoSenhaErros('tamanhoInvalido') === null}"
          > Mínimo 6 caracteres </li>

          <li [ngClass]="
          {'bi bi-x text-danger' : campoSenhaErros('faltaMaiuscula') === true,
          'bi bi-check text-success' : campoSenhaErros('faltaMaiuscula')=== false,
          'text-muted': campoSenhaErros('faltaMaiuscula') === null}"
          > Letra maiúscula </li>

          <li [ngClass]="
          {'bi bi-x text-danger' : campoSenhaErros('faltaMinuscula') === true,
          'bi bi-check text-success' : campoSenhaErros('faltaMinuscula')=== false,
          'text-muted': campoSenhaErros('faltaMinuscula') === null}"
          > Letra minúscula </li>

          <li [ngClass]="
          {'bi bi-x text-danger' : campoSenhaErros('faltaNumero') === true,
          'bi bi-check text-success' : campoSenhaErros('faltaNumero')=== false,
          'text-muted': campoSenhaErros('faltaNumero') === null}"
          > Números </li>
        </ul>
    </span>
  </div>

  <div class="col-md-6 ab-3">
    <label [for]="campo.labelForCampoSenha + 'Confirmar'" class="form-label">Confirmar {{campo.tituloCampoSenha}}</label>
    <input type="password" class="form-control" [id]="campo.idCampoSenha + 'Confirmar'" [formControlName]="campo.formControlNameCampoSenha + 'Confirmar'">
    <span *ngIf=" validaCampo " class="text-danger"
    >Confirmar {{campo.tituloCampoSenha}} é obrigatória.
    </span>
    <span *ngIf="validaConfirmaSenha()" class="text-danger"
    >As senhas não coincidem.
    </span>
  </div>
</div>

